
body {
  background: #d7c0a9;
  color: #914420;
}

h1 {
  font-family: 'Cherry Swash', cursive;
  text-align: center
}

li, p {
  font-family: 'PT Sans', sans-serif;
}

.container {
  margin: auto;
  max-width: 400px;
}

.box {
  margin: auto;
  max-width: 700px;
}

.page {
  background-color: #efe8cf;
  max-width: 600px;
  padding: 10px 40px 40px 0px;
  margin: auto;
  margin-top: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #914420;
}

p {
  text-align: center;
}

.box li {
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-color: #914420;
  padding: 20px;
  margin: 3px;
  background-color: #efe8cf;
  text-decoration: none;
  font-size: 18px;
}

.box ul {
  text-align: center;
  list-style-type: none;
}

a:link {
    text-decoration: none;
    color: #355169;
}

.page a:link {
    color: #355169;
}

a:visited {
    color: #914420;
}
